/* Color Palette: https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
body, html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  background-color: #2B2D42;
}
a {
  color: rgb(241, 250, 238);
  text-decoration: none;
}

.active a {
  color: rgb(230, 57, 70);
}

.active a:hover {
  color: rgb(230, 57, 70);
  border-bottom: none;
}

a:hover {
  color: rgb(241, 250, 238);
  border-bottom: solid 3px rgb(230, 57, 70);
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/hero-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.hero-text h1 {
  font-size: 50px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.hero-text h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  letter-spacing: 0.15em;
}

.logo-home {
  color: rgb(230, 57, 70);
  font-size: 24px;
  letter-spacing: 0.05em;
  float: left;
  margin: 6% 0 0 2%;
}

.nav-right {
  float: right;
  display: inline-block;
  margin-top: 5.5%;
  line-height: 50px;
  padding-right: 15px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
}

.aboutHeader {
  font-weight: 300;
  letter-spacing: 0.15em;
  margin: 50px;
}

.portrait {
  max-width: 980px;
  height: auto;
}

.aboutDetails {
  margin-top: 40px;
  max-width: 980px;
  margin-left: 12%;
}

.aboutDetails h2 {
  /*margin-left: 25%;*/
  font-size: 25px;
}

.textDetails {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.5em;
}

.reset {
  margin: 0;
  padding: 0;
}

.dateText {
  font-size: 14px;
  color: #D90429;
  /*letter-spacing: 0.1em;*/
}

