/* Color Palette: https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
body, html {
  height: 100%;
}

body {
  margin: 0;
  color: #2b2d42;
  font-family: "Raleway", sans-serif;
  background-color: #edf2f4;
}

a {
  color: #2b2d42;
  text-decoration: none;
}

.footerMargin {
  margin-bottom: 100px;
}

.active a {
  color: rgb(138, 48, 48);
}

.active a:hover {
  color: rgb(138, 48, 48);
  border-bottom: none;
}

a:not(.noHover):hover {
  color: #2b2d42;
  border-bottom: solid 3px rgb(138, 48, 48);
  /*text-decoration: none;*/
}

.noHover:hover {
  color: #2b2d42;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/hero-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.hero-text h1 {
  font-size: 50px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.hero-text h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  letter-spacing: 0.15em;
}

.logo-home {
  color: rgb(138, 48, 48);
  font-size: 24px;
  letter-spacing: 0.05em;
  float: left;
  margin: 6% 0 0 2%;
}

.nav-right {
  float: right;
  display: inline-block;
  margin-top: 5.5%;
  line-height: 50px;
  padding-right: 15px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #2b2d42;
}

.aboutHeader {
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 50px;
}

.portrait {
  max-width: 980px;
  height: auto;
}

.aboutDetails {
  margin-top: 40px;
  max-width: 980px;
  margin-left: 12%;
}

.aboutDetails h2 {
  /*margin-left: 25%;*/
  font-size: 25px;
}

.textDetails {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.5em;
}

.reset {
  margin: 0;
  padding: 0;
}

.disabled {
  pointer-events: none;
}

.dateText {
  font-size: 14px;
  color: #D90429;
  /*letter-spacing: 0.1em;*/
}


.serviceImageContainer {
  position: relative;
  text-align: center;
}


.serviceImageText {
  position: absolute;
  bottom: 15%;
  right: 15%;
}

.serviceImageText:hover {
  border-bottom: #ce935c 3px solid;
}

.serviceImages {
  width: 500px;
  max-height: 300px;
  border-radius: 30px;
  margin: 50px 50px 30px 50px;
}

.serviceSubImageHeader {
  font-weight: 300;
  text-align: center;
}

.serviceSubImageText {
  width: 500px;
  margin-left: 15%;
}

.contactForm {
  width: 100%;
  height: 600px;
}

.contactFormLeft {
  padding: 50px;
  background-color: #5cce93;
}

.infoItem {
  display: inline-block;
  width: 75%;
  padding-left: 25px;

}

.contactFormLeftIcon {
  font-size: 20px;
}

.contactFormRight {
  margin: 50px;

}

/* Floating Labels*/
.user-input-wrp {
  display: inline-block;
  position: relative;
  /*max-width: 50%;*/
}
.inputText{
  width: 100%;
  background-color: #edf2f4;
  outline: none;
  border:none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.inputText:focus{
  border-color: #5cce93;
  border-width: medium medium 2px;
}
.floating-label {
  position: absolute;
  pointer-events: none;
  top: 25px;
  left: 13px;
  opacity: 0.5;
  transition: 0.2s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 0;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}

textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label{
  top: 0;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}

.formRow {
  margin: 25px 0 25px 25px
}

.galleryImageContainer {
  position: relative;
  text-align: center;
}


.galleryImageText:hover {
  border-bottom: #ce935c 3px solid;
}

.galleryImages {
  border: none;
  padding: 0;
}

.movieContainer {
  max-width: 500px;
  margin-bottom: 4%;
  margin-top: 2%;

}

.audioPlayer {
  margin-top: 2%;
  max-width: 500px;
}